.btn-theme-secondary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.product-opt-next-btn{
    width: 37%;
}

.bindery-option-block{
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: dashed 1px gray;
    border-top: dashed 1px gray;
}
.preview-block{
    margin: 10px;
}
.make-change-btn{
    margin: 10px;
}